<h3>Vendor Sheet </h3>
<div class="center">

    <div class="row">
      <div class="col-md-4">
      <div class="col-md-4">
        <div id="btn-1">
          <button class=" btn" (click)="socialSignIn('google')">Google Sign</button>
        </div>
        <div id="btn-2">
        </div>
      </div>
      </div>
    </div>
  </div>
<!-- sign Up pop up -->

    <div class="container" *ngIf="isSignupTrigger">
      <div class="modal show" id="signup" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5>User is not valid, please sign up</h5>
              <h3 class="text-primary">Signup Form</h3>
            </div>
        <div class="modal-body">
           <div class="row">
            <form  method="post" action="" role="form" class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-md-3">First Name *:</label>
                <div class="col-md-6">
                   <input type="text" class="form-control" name="name" value="" placeholder="Please Enter Your First Name" required>
               </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3">Last Name:</label>
                <div class="col-md-6">
                   <input type="text" class="form-control" name="name" value="" placeholder="Please Enter Your Last Name" required>
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-3">Email address *:</label>
               <div class="col-md-6">
                  <input type="email" class="form-control" name="email" value="" placeholder="Please Enter Your Email" required>
              </div>
              </div>
              <div class="form-group">
                 <label class="control-label col-md-3">Password *:</label>
                 <div class="col-md-6">
                   <input type="password" class="form-control" name="password" value="" placeholder="Please Enter Your password" required>
                </div>
              </div>
             <div class="form-group">
               <label class="control-label col-md-3">Retype Password *:</label>
               <div class="col-md-6">
                   <input type="password" class="form-control" name="repassword" value="" placeholder="Please Enter Retype Your password" required>
               </div>
             </div>
             <div class="form-group" style="margin-left: 10px">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                  <input type="submit" name="Signup Now" value="Signup Now" class="btn btn-info"> <input type="reset" name="Reset" value="Reset" class="btn btn-default">
             </div>
             </div>
          </form>
          </div>
        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)='signUpClicked()'>Close</button>
            </div>
          </div>
        </div>
      </div>
  </div>
